*{
    box-sizing: border-box;
}
.top{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 92px;
    background: #CF2B2B;
    justify-content: space-between;
    padding-left: 21px;
    padding-top: 20px;
    padding-bottom: 18px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25)
}
.top h1{
    font-family: 'Righteous', cursive;
    font-size: 44px;
    color: #FFFFFF;
}
.top h2{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #FFFFFF;
}

.bottom-button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92px;
    background: #FFFFFF;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.bottom-button button{
    width: 85%;
    height: 61px;
    background: #CBCBCB;
    border: none;
    border-radius: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    padding-left: 10%;
    padding-right: 10%;
}
.bottom-button button.active{
    background: #32B72F;
    font-weight: bold;
}